.section1{
    width: 100%;
    height: 60px;
}
/*通用样式*/
.main-title{
    font-size: 50px;
    color: #333333;
    text-align: center;
    line-height: 64px;
    margin-top: 100px;
}
.subTitle{
    font-size: 28px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
}
.subTitle2{
    font-size: 28px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    margin-top: 50px;
}
.subTitle3{
    font-size: 28px;
    color: #333333;
    letter-spacing: 0;
    line-height: 28px;
}
.subContent{
    font-size: 16px;
    color: #6B6B6B;
    text-align: center;
    line-height: 26px;
    margin-top: 20px;
}
.subContent2{
    width: 424px;
    font-size: 16px;
    color: #6B6B6B;
    line-height: 26px;
    margin-top: 20px;
}
.big-img{
    width: 970px;
    height: 550px;
    margin-top: 40px;
}
.cards{
    width: 970px;
    height: 114px;
    margin-top: 30px;
    flex-wrap: nowrap;
}
.card{
    width: 192px;
    height: 114px;
    margin-left: 6px;
}
.card:nth-of-type(1){
    margin-left: 0;
}
/*智慧教学*/
.section2{
    width: 970px;
    height: 1207px;
}
.section2 .subTitle{
    margin-top: 40px;
}
.section2 .big-img img{
    content: url("../img/img1380/daping@2x.png");
}
.section2 .card:nth-of-type(1){
    content: url("../img/img1380/daping-tag1@2x.png");
}
.section2 .card:nth-of-type(2){
    content: url("../img/img1380/daping-tag2@2x.png");
}
.section2 .card:nth-of-type(3){
    content: url("../img/img1380/daping-tag3@2x.png");
}
.section2 .card:nth-of-type(4){
    content: url("../img/img1380/daping-tag4@2x.png");
}
.section2 .card:nth-of-type(5){
    content: url("../img/img1380/daping-tag5@2x.png");
}

/*C30教师PC*/
.section3-back{
    width: 100%;
    height: 1181px;
    background-color: #fafafa;
}
.section3{
    width: 970px;
}
.section3 .subTitle{
    margin-top: 100px;
}
.section3 .big-img img{
    content: url("../img/img1380/jiaoshiPC@2x.png");
}
.section3 .card:nth-of-type(1){
    content: url("../img/img1380/jiaoshiPC-tag1@2x.png");
}
.section3 .card:nth-of-type(2){
    content: url("../img/img1380/jiaoshiPC-tag2@2x.png");
}
.section3 .card:nth-of-type(3){
    content: url("../img/img1380/jiaoshiPC-tag3@2x.png");
}
.section3 .card:nth-of-type(4){
    content: url("../img/img1380/jiaoshiPC-tag4@2x.png");
}
.section3 .card:nth-of-type(5){
    content: url("../img/img1380/jiaoshiPC-tag5@2x.png");
}

/*C30学生端*/
.section4{
    width: 970px;
    height: 1155px;
}
.section4 .subTitle{
    margin-top: 100px;
}
.section4 .big-img img{
    content: url("../img/img1380/xueshengPC@2x.png");
}
.section4 .card:nth-of-type(1){
    content: url("../img/img1380/xueshengPC-tag1@2x.png");
}
.section4 .card:nth-of-type(2){
    content: url("../img/img1380/xueshengPC-tag2@2x.png");
}
.section4 .card:nth-of-type(3){
    content: url("../img/img1380/xueshengPC-tag3@2x.png");
}
.section4 .card:nth-of-type(4){
    content: url("../img/img1380/xueshengPC-tag4@2x.png");
}
.section4 .card:nth-of-type(5){
    content: url("../img/img1380/xueshengPC-tag5@2x.png");
}

/*小卡片公用样式*/
.app-cards{
    height: 350px;
    margin-top: 40px;
    flex-direction: row;
}
.app-card{
    width: 324px;
    height: 350px;
    margin-left: 26px;
    background: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.02);
    border-radius: 12px;
    border-radius: 12px;
}
.app-card:nth-of-type(1){
    margin-left: 0;
}
.app-img{
    width: 72px;
    height: 72px;
    margin-top: 44px;
}
.app-img img{
    width: 100%;
    height: 100%;
}
.app-title{
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 24px;
}
.app-content{
    width: 284px;
    font-size: 14px;
    color: #8A8A8A;
    line-height: 24px;
    margin-top: 20px;
}

/*更多应用*/
.section5-back{
    width: 100%;
    height: 668px;
    background-color: #fafafa;
}
.section5{
    width: 1024px;
}
.section5 .subTitle{
    margin-top: 100px;
}
.section5 .app-card:nth-of-type(1) .app-img img{
    content: url("../img/img1380/app-jiazhang@2x.png");
}
.section5 .app-card:nth-of-type(2) .app-img img{
    content: url("../img/img1380/app-zhushou@2x.png");
}
.section5 .app-card:nth-of-type(3) .app-img img{
    content: url("../img/img1380/app-xuexi@2x.png");
}


.left-img{
    width: 530px;
    height: 412px;
}
.left-img img{
    width: 100%;
    height: 100%;
}
.section-split{
    width: 70px;
}
.right-content{
    width: 424px;
}

/*智慧管理*/
.section6{
    width: 1024px;
    height: 970px;
}
.section6 .img-content{
    margin-top: 80px;
    flex-direction: row;
}
.section6 .left-img img{
    content: url("../img/img1380/shisheng@2x.png");
}
.section6 .subTitle3{
    margin-top: 90px;
}
.section6 .card:nth-of-type(1){
    content: url("../img/img1380/shisheng-tag1@2x.png");
}
.section6 .card:nth-of-type(2){
    content: url("../img/img1380/shisheng-tag2@2x.png");
}
.section6 .card:nth-of-type(3){
    content: url("../img/img1380/shisheng-tag3@2x.png");
}
.section6 .card:nth-of-type(4){
    content: url("../img/img1380/shisheng-tag4@2x.png");
}
.section6 .card:nth-of-type(5){
    content: url("../img/img1380/shisheng-tag5@2x.png");
}

/*教务管理*/
.section7-back{
    width: 100%;
    height: 826px;
    background-color: #fafafa;
}
.section7{
    width: 1024px;
}
.section7 .img-content{
    margin-top: 100px;
    flex-direction: row-reverse;
}
.section7 .left-img img{
    content: url("../img/img1380/jiaowu@2x.png");
}
.section7 .subTitle3{
    margin-top: 128px;
}
.section7 .card:nth-of-type(1){
    content: url("../img/img1380/jiaowu-tag1@2x.png");
}
.section7 .card:nth-of-type(2){
    content: url("../img/img1380/jiaowu-tag2@2x.png");
}
.section7 .card:nth-of-type(3){
    content: url("../img/img1380/jiaowu-tag3@2x.png");
}
.section7 .card:nth-of-type(4){
    content: url("../img/img1380/jiaowu-tag4@2x.png");
}
.section7 .card:nth-of-type(5){
    content: url("../img/img1380/jiaowu-tag5@2x.png");
}

/*一体化平台*/
.section8{
    width: 1024px;
    height: 812px;
}
.section8 .img-content{
    margin-top: 100px;
    flex-direction: row;
}
.section8 .left-img img{
    content: url("../img/img1380/pingtai@2x.png");
}
.section8 .subTitle3{
    margin-top: 127px;
}
.section8 .cards{
    width: 588px;
    height: 114px;
    margin-top: 30px;
}
.section8 .card:nth-of-type(1){
    content: url("../img/img1380/pingtai-tag1@2x.png");
}
.section8 .card:nth-of-type(2){
    content: url("../img/img1380/pingtai-tag2@2x.png");
}
.section8 .card:nth-of-type(3){
    content: url("../img/img1380/pingtai-tag3@2x.png");
}

/*更多应用*/
.section9-back{
    width: 100%;
    height: 659px;
    background-color: #fafafa;
}
.section9{
    width: 1024px;
}
.section9 .subTitle{
    margin-top: 100px;
}

.section9 .swiper-container {
    width: 1024px;
    height: 400px;
    margin-top: 40px;
}
.section9 .swiper-slide {
    width: 324px;
    height: 350px;
    background: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.02);
    border-radius: 12px;
    border-radius: 12px;
}
