::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background-color: gray;
}
body{
    overflow-x:hidden;
}
.bgGray{
    background: #FAFAFA;
}


