.section {
    height: 1080px;
}
.logo_navi{
    width: 51px;
    height: 37px;
}

.logo{
    width: 280px;
    height: 325px;
    margin-bottom: 73px;
}
#section2{
    padding-top: 265px;
}

.cloudTitle{
    font-size: 56px;
    color: #20204D;
    line-height: 72px;
}
.cloudContent{
    font-size: 32px;
    color: #6B6B6B;
    margin-top: 30px;
}
.cloudContent span{ margin-left: 24px;  }
.cloudContent span:nth-of-type(1){
    margin-left: 0;
}

#section3{
    padding-top: 108px;
    margin-bottom: 194px;
}
.subTitle {
    color: #333333;
    font-size: 42px;
    line-height: 45px;
}
.subTitle2{
    color: #333333;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
}
.subcontent {
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
}
.subcontent2 {
    font-size: 18px;
    line-height: 32px;
    color: #6B6B6B;
}
.img-panel{
    width:620px;
    height: 480px;
}
.img-panel1 img{
    width: 620px;
    height: 480px;
    border-radius: 12px;
}
.text-panel1{
    width:530px;
    height: 256px;
    line-height: 30px;
    margin-top: 90px;
}
.img-panel2{
   border-radius: 12px;
}
.img-panel2 img{
    width: 850px;
    height: 580px;
    border-radius: 12px;
}
.text-panel2{
    width:400px;
    height: 256px;
    line-height: 30px;
    margin-top: 132px;
}

.img-panel3 img{
    width: 850px;
    height: 580px;
    border-radius: 12px;
}
.text-panel3{
    width:280px;
    line-height: 32px;
    margin-top: 90px;
}

.section4 {
    flex-direction:row;
    width: 1380px;
    height: 647px;
}
.section4-split{
    width: 110px;
}
.section5 {
    flex-direction:row-reverse;
    width: 1380px;
    height: 940px;
    padding-top: 180px;
}
.section5-split{
    width: 72px;
}
.section6 {
    flex-direction:row;
    width: 1380px;
    height: 940px;
    padding-top: 180px;
}
.section6-split{
    width: 84px;
}
.section7{
    width: 100%;
    height: 1232px;
    padding-top: 130px;
}
.section7 img{
    width: 1324px;
    height: 764px;
}
.section7 .gallery{
    margin-top:115px;
}

.section8{
    width: 100%;
    height: 1080px;
    padding-top: 130px;
}
.section8-mobile{
    width: 100%;
    height: 1080px;
    padding-top: 130px;
}
.section8 img{
    width: 276px;
    height: 640px;
    opacity: 0.65;

}
.section8-mobile img{
    width: 276px;
    height: 640px;
}
.section8 .gallery{
    flex-direction:row;
    width:1380px;
    margin-top: 74px;
    background: #000000;
}
.section8 .gallery .img-back:nth-of-type(1) img{
    content: url('../img/home/bei@2x.png');
}
.section8 .gallery .img-back:nth-of-type(2) img{
    content: url('../img/home/jiang@2x.png');
}
.section8 .gallery .img-back:nth-of-type(3) img{
    content: url('../img/home/pi@2x.png');
}
.section8 .gallery .img-back:nth-of-type(4) img{
    content: url('../img/home/fu@2x.png');
}
.section8 .gallery .img-back:nth-of-type(5) img{
    content: url('../img/home/kao@2x.png');
}
.section8-mobile .gallery2{
    width:1380px;
    margin-top: 74px;
    background-image: url("../img/home/beike@2x.png");
    background-size: cover;
    opacity: 0.35;
}
.section9{
    width: 100%;
    height: 1080px;
    background-image: url("../img/home/dataDrive@2x.png");
    background-size: cover;
    position:relative;
}
.section9 .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    background: #000000;
}
.section9 .dataDrive{
    position: relative;
}
.section9 .title {
    color:#FFFFFF;
    padding-top: 472px;
    margin-bottom: 20px;
}
.section9 .content {
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
    padding-bottom: 14px;
}
.section10{
    width: 100%;
    height: 1188px;
    padding-top: 131px;
}
.section10 .subTitle {
    color: #333333;
    font-size: 42px;
    line-height: 46px;
}
.section10 .subcontent {
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
}
.section10 img{
    width: 1200px;
    height: 790px;
    content: url('../img/home/dataDrive-2@2x.png');
}
.section10 .gallery{
    margin-top:115px;
}

