.section {
    height: 900px;
}
.section1{
    width: 100%;
    height: 60px;
}
.cloudTitle{
    font-size: 50px;
    color: #20204D;
    line-height: 50px;
}
.cloudContent{
    font-size: 30px;
    color: #6B6B6B;
    line-height: 42px;
    margin-top: 26px;
}
.cloudContent span{ margin-left: 32px;  }
.cloudContent span:nth-of-type(1){
    margin-left: 0;
}

#section3{
    padding-top: 100px;
    margin-bottom: 95px;
}
.subTitle {
    color: #333333;
    font-size: 40px;
    line-height: 40px;
}
.subTitle2{
    color: #333333;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 24px;
}
.subcontent {
    font-size: 17px;
    line-height: 28px;
    color: #6B6B6B;
}
.subcontent2 {
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.img-panel1 video{
    width: 518px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.05);
}
.text-panel1{
    width:412px;
    height: 296px;
    line-height: 30px;
    margin-top: 50px;
}
.img-panel2 video{
    width: 616px;
    height: 420px;
    border-radius: 12px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.05);
}
.text-panel2{
    width:337px;
    height: 256px;
    line-height: 30px;
    margin-top: 34px;
}

.img-panel3 video{
    width: 616px;
    height: 420px;
    border-radius: 12px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.05);
}
.text-panel3{
    width:324px;
    line-height: 32px;
    margin-top: 32px;
}

.section4 {
    flex-direction:row;
    width: 992px;
    height: 500px;
}
.section4-split{
    width: 44px;
}
.section5-bg {
    background-color: #F1F1F1;
}
.section5 {
    flex-direction:row-reverse;
    width: 1000px;
    height: 620px;
    padding-top: 100px;
}
.section5-split{
    width: 43px;
}
.section6 {
    flex-direction:row;
    width: 1000px;
    height: 620px;
    padding-top: 100px;
}
.section6-split{
    width: 60px;
}
.section7{
    width: 100%;
    height: 941px;
    padding-top: 100px;
}
.section7 img{
    width: 1000px;
    height: 577px;
}
.section7 .gallery{
    margin-top:80px;
}

.section8{
    width: 100%;
    height: 754px;
    padding-top: 100px;
}
.section8 .img-back img{
    width: 204px;
    height: 474px;
    opacity: 0.65;
}
.section8 .gallery{
    flex-direction:row;
    width:1020px;
    margin-top: 60px;
    background: #000000;
}
.section8 .gallery-cover{
    position: absolute;
    flex-direction:row;
    width:1020px;
    height: 474px;
}
.section8 .showBigImg{
    cursor: pointer;
    display: none;
    position: absolute;
    flex-direction:row;
    width:1020px;
    height: 474px;
}
.section8 .img-open{
    width: 204px;
    height: 474px;
    opacity: 1;
}
.section8 .img-open:nth-of-type(3){
    position: relative;
}
.section8 .img-mask{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(0,0,0,0.35);
    z-index:10;
}
.section8 .forBorder{
    width: 1020px;
    height: 474px;
    position: relative;
}
.section8 .borderAndText{
    position: absolute;
    left:0;
    top:0;
    width:1020px;
    height: 100%;
}
.section8 .border-text{
    width: 204px;
    height: 474px;
    opacity: 1;
    border: 1px solid #979797;
    padding-top: 406px;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    z-index: 11;
}
.section8 .img-cover{
    cursor: pointer;
    width: 204px;
    height: 474px;
    opacity: 1;
}
.section8 .img-cover .text{
    font-size: 32px;
    line-height: 32px;
    padding-top: 351px;
    color: #FFFFFF;
}
@keyframes turnToBig0{
    0%{background-color: #ffffff;background-image: url('../img/home/beike@2x.png');background-size: auto 100%;}
    100%{width:1020px;background-color: #ffffff;background-image: url('../img/home/beike@2x.png');background-size: auto 100%;}
}
@keyframes turnToBig1{
    0%{background-color: #ffffff;background-image: url('../img/home/jiang-open@2x.png');background-size: auto 100%;}
    100%{width:1020px;background-color: #ffffff;background-image: url('../img/home/jiang-open@2x.png');background-size: auto 100%;}
}
@keyframes turnToBig2{
    0%{background-color: #ffffff;background-image: url('../img/home/gai-open@2x.png');background-size: auto 100%;}
    100%{width:1020px;background-color: #ffffff;background-image: url('../img/home/gai-open@2x.png');background-size: auto 100%;}
}
@keyframes turnToBig3{
    0%{background-color: #ffffff;background-image: url('../img/home/fu-open@2x.png');background-size: auto 100%;}
    100%{width:1020px;background-color: #ffffff;background-image: url('../img/home/fu-open@2x.png');background-size: auto 100%;}
}
@keyframes turnToBig4{
    0%{background-color: #ffffff;background-image: url('../img/home/kao-open@2x.png');background-size: auto 100%;}
    100%{width:1020px;background-color: #ffffff;background-image: url('../img/home/kao-open@2x.png');background-size: auto 100%;}
}
@keyframes turnToSmall{
    0%{}
    100%{width:0;}
}
.section8 .gallery .img-back .text-mobile{
    display: none;
}
.section8 .gallery .img-back:nth-of-type(1) img{
    content: url('../img/home/bei-lg@2x.png');
}
.section8 .gallery .img-back:nth-of-type(2) img{
    content: url('../img/home/jiang-lg@2x.png');
}
.section8 .gallery .img-back:nth-of-type(3) img{
    content: url('../img/home/pi-lg@2x.png');
}
.section8 .gallery .img-back:nth-of-type(4) img{
    content: url('../img/home/fu-lg@2x.png');
}
.section8 .gallery .img-back:nth-of-type(5) img{
    content: url('../img/home/kao-lg@2x.png');
}
.lottie-footer{
    width: 100%;
    height: 720px;
    position: relative;
}
.section9{
    width: 100%;
    height: 720px;
    background-color: #000000;
    position:relative
}
.section9 .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    background-image: url("../img/home/dataDrive-lg@2x.png");
    background-size: cover;
}
.section9 .mask-text{
    position: absolute;
    width: 100%;
    height: 100%;
}
.section9 .mask-text .title {
    color:#FFFFFF;
    padding-top: 305px;
    margin-bottom: 20px;
}
.section9 .mask-text .content {
    font-size: 17px;
    line-height: 18px;
    color:#FFFFFF;
    padding-bottom: 14px;
}
.section9 .dataDrive{
    position: relative;
    padding-top: 0;
}
.section9 .dataDriveTitle {
    color: #333333;
    font-size: 40px;
    line-height: 46px;
    opacity: 0;
}
.section9 .dataDriveContent {
    font-size: 20px;
    line-height: 34px;
    color: #6B6B6B;
    opacity: 0;
    margin-top: 20px;
}
.section9 img{
    width: 750px;
    height: 420px;
    content: url('../img/home/dataDrive-lg-2@2x.png');
}
.section9 .dataDriveGallery{
    margin-top:15px;
    opacity: 0;
}
@keyframes textShowIn{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes textShowOut{
    0%{opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes maskShowIn{
    0%{opacity: 0;}
    100%{opacity: 0.55;}
}
@keyframes maskShowOut{
    0%{opacity: 0.55;}
    100%{opacity: 0;}
}
@keyframes blackToWhite{
    0%{background-color: #000000;}
    100%{background-color: #ffffff;}
}
@keyframes whiteToBlack{
    0%{background-color: #ffffff;}
    100%{background-color: #000000;}
}
@keyframes imgShowIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes imgShowOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
