.body{
    position: relative;
}
.section-mobile{
    display: none;
}
.shadow-pc{
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.06);
}
.section-pc{
    display: flex;
    width: 700px;
}
.section-pc .img-panel{
    width: 55px;
    height: 60px;
    align-items: center;
}
.section-pc .img-panel img{
    width: 55px;
    height: 40px;
}
.section-pc .section-split{
    width: 80px;
}
.section-pc .nav{
    width: 430px;
}
.section-pc .nav-content{
    width: 30px;
    height: 60px;
    margin-right: 70px;
    font-size: 15px;
    line-height: 60px;
}
.section-pc .nav-content:nth-of-type(5){
    margin-right: 0;
}
.section-pc .section-split2{
    width: 99px;
}
.section-pc .img-panel2{
    cursor: pointer;
    width: 36px;
    height: 60px;
    align-items: center;
}
.section-pc .img-panel2 img{
    width: 28.4px;
    height: 30px;
}
.section-pc .nav-content a{
    color: #333333;
}
.section-pc .nav-content a:hover{
    text-decoration: none;
}
.login{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    z-index: 11;
}
.mask{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=20);
    background-color: rgba(0, 0, 0, 0.2);
}
