html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.launch_loading{
    display: flex;
    width: 100%;
    height: 100%;
}
.launch_loading img{
    margin: auto;
}
.huohua_div_rightMenu{
    width: 96px;
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.08);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32);
    border-radius: 4px;
    display: inline-block;
    z-index: 1;
}

.huohua_div_rightMenu li{
    text-align: left;
    padding-left: 16px;
    height: 30px;
    font-size: 13px;
    color: #191919;
    line-height: 30px;
    cursor: pointer;
}

.huohua_div_rightMenu li:hover{
    background: #FB9102;
    color: #FFFFFF;
}

.huohua_div_settingMenu{
    width: 96px;
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.08);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32);
    border-radius: 4px;
    display: inline-block;
    z-index: 1;
}
.huohua_div_settingMenu li{
    text-align: left;
    padding-left: 16px;
    height: 30px;
    font-size: 13px;
    color: #191919;
    line-height: 30px;
    cursor: pointer;
}
.huohua_div_rightMenu li:first-child{
    margin-top: 6px;
}
.huohua_div_rightMenu li:last-child{
    margin-bottom: 6px;
}


.hide{
    display: none;
}

.flex{
    display: flex !important;
}

.flex-middle{
    margin: auto 0;
}

.float-right{
    float: right;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.event_disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.rotate_animate{
    -webkit-animation:zq 1.2s linear  infinite;
    animation:zq 1.2s linear  infinite;
}
/* 转圈 */
@keyframes zq{ from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@-webkit-keyframes zq{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

.updown_animate{
    animation:ud 1.2s infinite;
}
.rotate_button_loading{
   width: 24px;
    height: 24px;
    position: relative;
    top: 5px
}
/* 转圈 */
@keyframes ud{

    0% {top:-3px;}
    50% {top:6px;}
    55% {top:7px;}
    60% {top:6px;}
    100% {top:-3px;}
}

/*加载点*/
.dotting {
    display: inline-block; min-width: 2px; min-height: 2px;
    box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor,14px 0 currentColor,18px 0 currentColor; /* for IE9+, ..., 3个点 */
    animation: dot 2s infinite step-start both; /* for IE10+, ... */
}
.dotting:before { content: '......'; } /* for IE8. 若无需兼容IE8, 此行以及下一行删除*/
.dotting::before { content: ''; } /* for IE9+ 覆盖 IE8 */

@keyframes dot {
    16% { box-shadow: none; }                                  /* 0个点 */
    32% { box-shadow: 2px 0 currentColor; }                    /* 1个点 */
    48% { box-shadow: 2px 0 currentColor, 6px 0 currentColor;  /* 2个点 */ }
    62% {box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;}
    78% {box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor,14px 0 currentColor;}
}




/********** 弹窗 *********/
.dialog_shadow{
    -webkit-app-region: drag;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left:0;
    top:0;
    background: #000000;
    z-index: 100;
    display: none;
}

.dialog_content{
    position: absolute;
    z-index: 101;
    left: 50%;
    top: 50%;
    background-color: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
    border-radius: 8px;
    width: 320px;
    height: 198px;
    margin-left: -160px;
    margin-top: -99px;
   /* width: 320px;
    height: 440px;
    margin-left: -160px;
    margin-top: -220px;*/

}

.dialog_title{
    position: absolute;
    top: 14px;
    font-size: 15px;
    color: #000000;
    line-height: 15px;
    width:100%;
    text-align: center;
}
.dialog_line{
    position: absolute;
    top: 44px;
    height: 1px;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
}
.dialog_close_ico {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: url("../../img/courseware/close_44@2x.png") center center  no-repeat;
    background-size: 44px 44px;
}
.dialog_btn{
    background: #FE5702;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}

.dialog_btn:hover{
    background: #FE5702;
    cursor: pointer;
}

.dialog_btn.two{
    position: relative;
    margin-left: 20px;
    top: calc(100% - 64px);
    width: 130px;
    height: 40px;
}
.dialog_btn.three{
    position: relative;
    margin-left: 20px;
    top: calc(100% - 64px);
    width: 80px;
    height: 40px;
}

.dialog_btn.confirm{
    position: absolute;
    bottom: 24px;
    left: 20px;
    width: 280px;
    height: 40px;
}
.dialog_cancle{
    color: #000000 !important;
    background: #F0F0F0 !important;
}

.dialog_content_text{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.notification_content{
    position: absolute;
    z-index: 111;
    left: 50%;
    top: 10%;
    background-color: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
    border-radius: 8px;

    width:400px;
    height: 60px;
    margin-left: -135px;
    margin-top: -30px;
    font-size: 14px;

    letter-spacing: -0px;
    line-height: 60px;
    text-align: center;
}
.error{
    color: #FF4747;
}
.normal{
    color: #FE5702 ;
}

.progress_content{
    width: 100%;
    height: 6px;
    background: #EBEBEB;
    border: 0 solid rgba(0,0,0,0.12);
  /*  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);*/
    border-radius: 2px;

}
.progress_box{
    float: left;
    width: 1%;
    height: 6px;
    background-image: linear-gradient(90deg, #FE6719 0%, #FE5702 100%);
    border-radius: 2px;
    /*
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
    */
}

.dialog_mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
/*    background-color: rgba(0,0,0,0.6);*/
    z-index: 101;
    display: none;
}
.dialog_mask:hover{
    cursor: progress;
}

.loadingProgress{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    display: none;
}

.buy_border_bottomLine{
    box-shadow: inset 0 -1px 0 0 #F0F0F0;
}

.buy_dialog_content{
    min-height: 218px;
    height: auto;
    border: 0 solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
}

.buy_dialog_item{
    width: 280px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
}

.buy_dialog_btn{
    display: inline-block;
    width: 130px;
    height: 40px;
    border-radius: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}
.buy_dialog_btn:hover{
    cursor: pointer;
}

.buy_dialog_btn.cancle{
    background: #F0F0F0;
}

.buy_dialog_btn.submit{
    background: #FE5702;
    color: #FFFFFF;
}
.buy_currentAccount{
    float: right;
    font-size: 16px;
    color: #FE5702;
}
.buy_success{
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    line-height: 53px;
}
.buy_success_img{
    width: 72px;
    height: 72px;
    margin-left: 124px;
    margin-top: 48px;
    display: block
}
.buy_success_label{
    margin: 0 auto;
    display: table;
    margin-top: 24px
}

/************ 强制更新dialog style ***************/

.dialog_line_force_update{
    position: absolute;
    top: 56px;
    height: 1px;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
}

.dialog_title_force_update{
    position: absolute;
    top: 16px;
    font-size: 16px;
    color: #000000;
    line-height: 16px;
    width:100%;
    text-align: center;
}

.dialog_content_text_force_update{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.loading_dialog_content_text{
    position: absolute;
    top: 46px;
    width: 300px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.loading_dialog_content{
    position: absolute;
    z-index: 101;
    left: 50%;
    top: 50%;
    background-color: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
    border-radius: 8px;

    width: 320px;
    height: 178px;
    margin-left: -160px;
    margin-top: -99px;
}